*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    text-transform: none;
    font-family: 'Montserrat', sans-serif;
}
header{
    background-image: url(../img/background-1.png) ;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
#buyNow{
    border: 2px solid #e34a3c;
    padding: 15px 30px;
    border-radius: 25px;
    color: #fff;
    font-weight: 900;
    transition: 0.5s;
}
#buyNow:hover{
    border: 2px solid #e34a3c;
    background-color: #e34a3c;
    color: #000;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    padding: 0px 40px 0px 40px;
    background-color: #000000ea;
    position: fixed;
}
#logo{
    width: 250px;
    filter: drop-shadow(-10px 10px 30px #0000005b);
    font-family: 'Rachana Bold';
}
nav div{
    display: flex;
    align-items: center;
    gap: 60px;
}
nav div a{
    font-weight: 600;
    font-size: 20px;
    color: #fff;

}
#cart{
    width: 30px;
}
#row{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: start;
    justify-content: center;
    color: #fff;
    flex-direction: column;
    padding: 0px 0px 0px 250px;
    gap: 30px;
}
#row h1{
    color: #e34a3c;
    font-size: 100px;
    width: 100px;
}
#row p{
    width: 550px;

}